<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Заказ места</title>
    <link rel="stylesheet" type="text/css" href="../static/css/seats.css" th:href="@{/css/seats.css}"/>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <!-- Custom CSS -->
    <link href="../static/css/3-col-portfolio.css" th:href="@{/css/3-col-portfolio.css}" rel="stylesheet" type="text/css"/>

</head>
<body>

<div class="demo">
    <div id="seat-map">
        <div class="front">SCREEN</div>
    </div>
    <div class="booking-details">
        <p>Movie: <span> Gingerclown</span></p>
        <p>Time: <span>November 3, 21:00</span></p>
        <p>Seat: </p>
        <ul id="selected-seats"></ul>
        <p>Tickets: <span id="counter">0</span></p>
        <p>Total: <b>$<span id="total">0</span></b></p>

        <button class="checkout-button">BUY</button>

        <div id="legend"></div>
    </div>


    <label>
        Email
    <input id="email-input" type="email">
    </label>

    <form method="post" action="https://www.liqpay.com/api/checkout"
          accept-charset="utf-8">
        <input id="liq-pay-data" type="hidden" name="data"
               value="eyJhbW91bnQiOjEwMCwiY3VycmVuY3kiOiJVQUgiLCJkZXNjcmlwdGlvbiI6ItCf0L7Qv9C+0LvQvdC10L3QuNC1INCx0LDQu9Cw0L3RgdCwIiwib3JkZXJfaWQiOiJsM2Q2d1VvR3Rlc3QiLCJwdWJsaWNfa2V5IjoiaTc0MDQ0MTgyODM5Iiwic2FuZGJveCI6IjEiLCJzZXJ2ZXJfdXJsIjoiaHR0cDpcL1wvYmFuay10a2FuaS5yaGNsb3VkLmNvbVwvY2FsbGJhY2siLCJ2ZXJzaW9uIjoiMyJ9"/>
        <input id="liq-pay-signature" type="hidden" name="signature"
               value="DxXg8vXCVuw39G1Qvk8hmLyad6o="/>
        <button type="submit" class="submit checkout-button">Купить</button>
    </form>



    <div style="clear:both"></div>
</div>



<script type="text/javascript" src="../static/js/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.seat-charts.min.js" th:src="@{/js/jquery.seat-charts.min.js}"></script>
<script type="text/javascript" src="../static/js/seats.js" th:src="@{/js/seats.js}"></script>
</body>
</html>